body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text {
    font-size: 50px;
    position: relative;
    white-space: nowrap;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}
